/* General */
*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}
body{
 background: #000020;
}
.illustration{
 height: 300px;
 width: 300px;
 margin: 0 10px;
}
.title{
 font-size: 65px;
 color: #0070FF;
}
/* Header section */
header{
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin: 5px 20px;
}
header img{
 height: 50px;
}
header ul{
 display: flex;
 color: #fff;
 list-style: none;
 font-size: 15px;
 gap: 10px;
}
/* Hero section */
.hero{
 margin: 0 40px;
 display: flex;
 height: 100vh;
 justify-content: center;
 align-items: center;
}
.hero h3{
 font-size: 42px;
 color: #fff;
 font-family: sans-serif;
}
.hero h1{
 font-size: 80px;
 color: #0070FF;
 margin: 10px 0;
}
.hero p{
 font-size: 15px;
 color: #fff;
}
.hero .btn-box{
 margin: 20px 0 0 0;
 display: flex;
}
.hero a{
 display: inline-flex;     
 justify-content: center;
 align-items: center;
 margin-right: 20px;
 width: 160px;
 height: 45px;
 border-radius: 23px;
 color: #fff;
 background: #0070FF;
 border: 1px solid #0070FF;
 font-size: 18px;
 font-weight: 400;
 text-decoration: none;
 transition: .4s;
}
.hero a:hover{
 background: transparent;
 color: #0060FF;
 scale: 1.1;
}
/* About me section */
.about{
 margin: 0 40px;
 margin-top: 100px;
 display: flex;
 justify-content: center;
 align-items: center;
}
.about div{
 flex: 1;
 justify-content: center;
 align-items: center;
}
.about p{
 font-size: 20px;
 margin-top: 20px;
 color: #fff;
}
/* Work section */
.works{
 margin: 0 40px;
 margin-top: 100px;
}
.works ul{
 display: flex;
 margin-top: 20px;
 gap: 20px;
}
.works img{
 height: 120px;
 width: 200px;
}
/* Footer section */
.footer{
 margin-top: 100px;
}
footer{
 margin: 0 40px;
 padding: 25px 0;
 height: 300px;
}
footer ul{
 color: #fff;
 font-size: 15px;
 list-style: none;
}
footer li{
 margin: 0 0 10px 0;
}