*{
 padding: 0px;
 margin: 0px;
}
body{
 background: #060F23;
}
hr{
 opacity: .6;
 color: #fff;
 background: #fff;
}
header{
 justify-content: center;
 display: flex;
 align-items: center;
}
header div{
 display: flex;
 padding: 8px;
 justify-content: space-between;
 align-items: center;
 width: 90%;
}
header img{
 width: 40px;
 height: 40px;
 border-radius: 5px;
}
ul{
 display: flex;
}
li{
 display: flex;
 color: #fff;
 font-size: 15px;
 margin: 0px 0px 0px 10px;
 text-align: center;
}
li:hover {
  color: #747474;
  transform: scale(0.9);
}
.hero{
 padding: 20px;
 display: flex;
 justify-content: center;
 margin: 20px 0px;
 background: #0C1730;
 border-radius: 15px;
 margin: 10px 8%;
 border: 1px solid #fff;
}
.hero > div{
 justify-content: center;
 align-items: center;
 display: flex;
 flex-direction: column;
}
.hero h1{
 color: #fff;
 font-size: 25px;
}
.hero h2{
 color: #0055FF;
 font-size: 40px;
 margin: 5px;
}
.hero h3{
 color: #fff;
 font-size: 10px;
}
.btns{
 display: flex;
}
.btn1{
 color: #fff;
 background: linear-gradient(90deg, #0055FF, #00AAFF);
 text-decoration: none;
 border-radius: 15px;
 padding: 6px;
 margin: 10px 10px 10px 0px;
}
.btn2{
 color: #fff;
 border: 1px solid #fff;
 border-radius: 15px;
 padding: 5px;
 text-decoration: none;
 margin: 10px 10px 10px 0px;
}
.btn1:hover{
 transform: scale(0.9);
}
.btn2:hover{
 transform: scale(0.9);
}
.about_me{
 padding: 10px;
 display: flex;
 justify-content: center;
 flex-direction: column;
 margin: 20px 8%;
}
.title{
 margin: 10px;
 color: #0055FF;
 font-size: 25px;
}
.about_me p{
 color: #fff;
 font-size: 15px;
 background: #0C1730;
 border-radius: 15px;
 padding: 15px;
 border: 1px solid #fff;
}
.my_works{
 padding: 10px;
 margin: 20px 8%;
}
.my_works div{
 display: flex;
 flex-direction: column;
 color: #fff;
 font-size: 10px;
 background: #0C1730;
 border-radius: 15px;
 padding: 15px 30px;
 border: 1px solid #fff;
}
.my_works img{
 height: 60px;
 width: 60px;
}